<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset='utf-8'>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/head.css">
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <title>首页</title>
    <style>
        .iconfont{
            font-size: 14px;
        }
        .iconfont:before{
            font-size: 1.4rem;
            color: #ff6900;
            padding-right: .2rem;
        }

    </style>
</head>
<body>
    <div class="page-group">
    <div class="page page-current">
        <div class="content">
            <!--<div class="loading">-->
                <!--<div class="loading-img"></div>-->
                <!--<div class="loadding-word">加载中...</div>-->
            <!--</div>-->
            <!--<div id="zpcontenr">-->

            <!--</div>-->
            <div class="card-block product-wrap" >
                <div class="wechat-int">
                    <input type="text" placeholder="搜索职位 / 公司" readonly="readonly" id="title">
                    <i class="iconfont icon-sousuo"></i>
                </div>
            </div>

            <div class="card-block product-wrap" >
                <div class="wechat-list">
                    <div class="data-list">
                        <div class="wechat-img">
                            <img src="../images/nana_liantong.png" alt="">
                        </div>
                        <div class="wechat-size color-FF6900" style="float: right">8-12K</div>
                        <div class="wechat-size color-575757" style="margin-bottom: .8rem;">web前端</div>
                        <div class="wechat-size color-808080" style="margin-bottom: .8rem;">万家热线</div>
                        <div class="wechat-coat">
                            <span class="add">合肥 瑶海区</span>
                            <span class="experience">1-3年</span>
                            <span class="education">大专以上</span></div>
                        </div>
                    </div>
                    <div class="data-list">
                        <div class="wechat-img">
                            <img src="../images/nana_dianxin.png" alt="">
                        </div>
                        <div class="wechat-size color-FF6900" style="float: right">12-20K</div>
                        <div class="wechat-size color-575757" style="margin-bottom: .8rem;">PHP</div>
                        <div class="wechat-size color-808080" style="margin-bottom: .8rem;">万家热线</div>
                        <div class="wechat-coat">
                            <span class="add">合肥 蜀山区</span>
                            <span class="experience">1-3年</span>
                            <span class="education">博士以上</span></div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript" src="../js/Zepto.js"></script>
    <script type="text/javascript" src="../js/touch.js"></script>
    <!--<script type="text/javascript" src="../../public/dist/js/config.js"></script>-->
    <!--<script type="text/javascript" src="../../public/dist/js/buy.js"></script>-->
    <!--<script type="text/javascript" src="../../public/dist/js/app.js"></script>-->
    <!--<script type="text/javascript" src="../../public/debug/js/recdetal.js"></script>-->
    <!--<script type="text/javascript" src="../../public/dist/js/handlebars.runtime-v4.0.5.js"></script>-->
    <!--<script type="text/javascript" src="../../public/dist/js/handlebars-v4.0.5.js"></script>-->
    <!--<script src="../../public/dist/js/jquery-1.7.2.min.js"></script>-->
    <script>
        $('#title').on('tap',function () {
           window.location.href='we_insure.html'
        })
    </script>
</body>
</html>